In [1]:
import pandas as pd

In [2]:
population = pd.read_csv('고령자현황.csv')
population.head()

,동별(1),동별(2),2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6,2022.7,2022.8
0,동별(1),동별(2),65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구
1,동별(1),동별(2),소계,남자,여자,내국인,내국인,내국인,외국인,외국인,외국인
2,동별(1),동별(2),소계,소계,소계,소계,남자,여자,소계,남자,여자
3,합계,소계,1667411,739300,928111,1658207,734417,923790,9204,4883,4321
4,합계,종로구,27958,12592,15366,27704,12448,15256,254,144,110

In [3]:
population.drop([0,1,2,3], axis=0, inplace=True)

In [4]:
population = population[['동별(2)','2022.3']]
population.rename(columns={'동별(2)':'자치구','2022.3':'노인인구수'}, inplace=True)
population.head()

   자치구  노인인구수
4  종로구  27704
5   중구  24660
6  용산구  38478
7  성동구  47530
8  광진구  53737

In [5]:
subway = pd.read_csv('서울교통공사_자치구별지하철역정보_20230531.CSV', encoding='cp949')
subway.drop(['해당역(호선)'], axis=1, inplace=True)
subway.head()

   자치구  역개수
0  강남구   21
1  강동구   14
2  강북구    3
3  강서구    9
4  관악구    4

In [6]:
free = pd.read_csv('전국무료급식소표준데이터.csv', encoding= 'cp949')
free = pd.DataFrame(free['제공기관명'])
free=free.loc[free['제공기관명'].str.contains("서울"),:]
free = pd.DataFrame([['강서구',14],['성북구',11],['중랑구',11],['강북구',11],['마포구',11],['강남구',11],['은평구',10],['양천구',10],
                     ['동작구',9],['서대문구',8],['금천구',7],['구로구',6],['관악구',6],['종로구',5],['영등포구',5],['서초구',5],
                     ['성동구',5],['강동구',4],['노원구',3],['용산구',3],['광진구',2],['동대문구',2],['중구',2],['송파구',1],['도봉구',0
                     ]])
free=free.rename(columns={0:'자치구',1:'무료급식소개수'})
free.head()

   자치구  무료급식소개수
0  강서구       14
1  성북구       11
2  중랑구       11
3  강북구       11
4  마포구       11

In [7]:
income = pd.read_excel('데이터_서울시 행정동 소득.xlsx')
income = income.loc[:,['adstrd_nm','avrg_income_am']]
income = income.rename(columns={'adstrd_nm':'자치구','avrg_income_am':'평균소득'})
income.head()

               자치구     평균소득
0  서울특별시 종로구 청운효자동  7271.00
1  서울특별시 종로구 청운효자동  4639.23
2  서울특별시 종로구 청운효자동  4162.85
3  서울특별시 종로구 청운효자동  3634.44
4  서울특별시 종로구 청운효자동  4515.56

In [8]:
jcg = pd.DataFrame([['강서구',0],['성북구',0],['중랑구',0],['강북구',0],['마포구',0],['강남구',0],['은평구',0],['양천구',0],
                     ['동작구',0],['서대문구',0],['금천구',0],['구로구',0],['관악구',0],['종로구',0],['영등포구',0],['서초구',0],
                     ['성동구',0],['강동구',0],['노원구',0],['용산구',0],['광진구',0],['동대문구',0],['중구',0],['송파구',0],['도봉구',0
                     ]])
jcg=jcg.rename(columns={0:'자치구',1:'평균소득'})

In [9]:
for i in range(len(income)):
    if '강서구' in income.loc[i,'자치구']:
        jcg.loc[0,'평균소득'] += income.loc[i,'평균소득']
    elif '성북구' in income.loc[i,'자치구']:
        jcg.loc[1,'평균소득'] += income.loc[i,'평균소득']
    elif '중랑구' in income.loc[i,'자치구']:
        jcg.loc[2,'평균소득'] += income.loc[i,'평균소득']
    elif '강북구' in income.loc[i,'자치구']:
        jcg.loc[3,'평균소득'] += income.loc[i,'평균소득']
    elif '마포구' in income.loc[i,'자치구']:
        jcg.loc[4,'평균소득'] += income.loc[i,'평균소득']
    elif '강남구' in income.loc[i,'자치구']:
        jcg.loc[5,'평균소득'] += income.loc[i,'평균소득']
    elif '은평구' in income.loc[i,'자치구']:
        jcg.loc[6,'평균소득'] += income.loc[i,'평균소득']
    elif '양천구' in income.loc[i,'자치구']:
        jcg.loc[7,'평균소득'] += income.loc[i,'평균소득']
    elif '동작구' in income.loc[i,'자치구']:
        jcg.loc[8,'평균소득'] += income.loc[i,'평균소득']
    elif '서대문구' in income.loc[i,'자치구']:
        jcg.loc[9,'평균소득'] += income.loc[i,'평균소득']
    elif '금천구' in income.loc[i,'자치구']:
        jcg.loc[10,'평균소득'] += income.loc[i,'평균소득']
    elif '구로구' in income.loc[i,'자치구']:
        jcg.loc[11,'평균소득'] += income.loc[i,'평균소득']
    elif '관악구' in income.loc[i,'자치구']:
        jcg.loc[12,'평균소득'] += income.loc[i,'평균소득']
    elif '종로구' in income.loc[i,'자치구']:
        jcg.loc[13,'평균소득'] += income.loc[i,'평균소득']
    elif '영등포구' in income.loc[i,'자치구']:
        jcg.loc[14,'평균소득'] += income.loc[i,'평균소득']
    elif '서초구' in income.loc[i,'자치구']:
        jcg.loc[15,'평균소득'] += income.loc[i,'평균소득']
    elif '성동구' in income.loc[i,'자치구']:
        jcg.loc[16,'평균소득'] += income.loc[i,'평균소득']
    elif '강동구' in income.loc[i,'자치구']:
        jcg.loc[17,'평균소득'] += income.loc[i,'평균소득']
    elif '노원구' in income.loc[i,'자치구']:
        jcg.loc[18,'평균소득'] += income.loc[i,'평균소득']
    elif '용산구' in income.loc[i,'자치구']:
        jcg.loc[19,'평균소득'] += income.loc[i,'평균소득']
    elif '광진구' in income.loc[i,'자치구']:
        jcg.loc[20,'평균소득'] += income.loc[i,'평균소득']
    elif '동대문구' in income.loc[i,'자치구']:
        jcg.loc[21,'평균소득'] += income.loc[i,'평균소득']
    elif '중구' in income.loc[i,'자치구']:
        jcg.loc[22,'평균소득'] += income.loc[i,'평균소득']
    elif '송파구' in income.loc[i,'자치구']:
        jcg.loc[23,'평균소득'] += income.loc[i,'평균소득']
    elif '도봉구' in income.loc[i,'자치구']:
        jcg.loc[24,'평균소득'] += income.loc[i,'평균소득']

C:\Users\hi\AppData\Local\Temp\ipykernel_10920\610921274.py:29: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '11910.23' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  jcg.loc[13,'평균소득'] += income.loc[i,'평균소득']

In [15]:
jcg

     자치구       평균소득
0    종로구  453466.11
1     중구  424956.03
2    강남구  244532.80
3    마포구  211615.44
4    성북구  209717.18
5   영등포구  205228.59
6    용산구  202064.00
7    서초구  188960.04
8    송파구  186208.97
9    강서구  136155.52
10   성동구  121312.98
11  서대문구  113065.28
12   강동구  105784.97
13   동작구   94619.25
14   양천구   92062.46
15   관악구   90201.46
16   노원구   86224.24
17   광진구   74707.81
18   구로구   73396.59
19   은평구   63614.45
20  동대문구   63447.22
21   중랑구   63110.74
22   도봉구   59548.74
23   강북구   49728.39
24   금천구   42105.16

In [17]:
jcg.iloc[0,1] = jcg.iloc[0,1] / 17
jcg.iloc[1,1] = jcg.iloc[1,1] / 15
jcg.iloc[2,1] = jcg.iloc[2,1] / 22
jcg.iloc[3,1] = jcg.iloc[3,1] / 16
jcg.iloc[4,1] = jcg.iloc[4,1] / 20
jcg.iloc[5,1] = jcg.iloc[5,1] / 18
jcg.iloc[6,1] = jcg.iloc[6,1] / 16

jcg.iloc[7,1] = jcg.iloc[7,1] / 18
jcg.iloc[8,1] = jcg.iloc[8,1] / 27
jcg.iloc[9,1] = jcg.iloc[9,1] / 20
jcg.iloc[10,1] = jcg.iloc[10,1] / 17
jcg.iloc[11,1] = jcg.iloc[11,1] / 14
jcg.iloc[12,1] = jcg.iloc[12,1] / 19
jcg.iloc[13,1] = jcg.iloc[13,1] / 15
jcg.iloc[14,1] = jcg.iloc[14,1] / 18
jcg.iloc[15,1] = jcg.iloc[15,1] / 21

jcg.iloc[16,1] = jcg.iloc[16,1] / 19
jcg.iloc[17,1] = jcg.iloc[17,1] / 15
jcg.iloc[18,1] = jcg.iloc[18,1] / 16
jcg.iloc[19,1] = jcg.iloc[19,1] / 16
jcg.iloc[20,1] = jcg.iloc[20,1] / 14
jcg.iloc[21,1] = jcg.iloc[21,1] / 16
jcg.iloc[22,1] = jcg.iloc[22,1] / 14
jcg.iloc[23,1] = jcg.iloc[23,1] / 13
jcg.iloc[24,1] = jcg.iloc[24,1] / 10

In [10]:
jcg = jcg.sort_values('평균소득',ascending=False)
jcg.reset_index(drop=True,inplace=True)
jcg_midx = jcg.drop(12,axis=0)
jcg_midx = jcg.drop('자치구',axis=1)
jcg_midx_jal = jcg_midx[0:7]
jcg_midx_mid = jcg_midx[8:16]
jcg_midx_mot = jcg_midx[17:24]

In [11]:
from scipy import stats
F_statistic, pVal = stats.f_oneway(jcg_midx_jal, jcg_midx_mid, jcg_midx_mot)
print("F통계량: ",F_statistic,"유의확률:", pVal)
#print('데이터의 일원분산분석 결과 : F={0:.1f}, p={1:.10f}'.format(F_statistic, pVal))
#print('데이터의 일원분산분석 결과 : F=%.2f , p=%.10f ' %(F_statistic, pVal))

C:\Users\hi\AppData\Local\Programs\Python\Python39\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

F통계량:  [20.63294237] 유의확률: [1.72774486e-05]

In [12]:
data=pd.merge(population,subway, on="자치구")
data=pd.merge(data,free, on="자치구")
data

     자치구   노인인구수  역개수  무료급식소개수
0    종로구   27704   15        5
1     중구   24660   23        2
2    용산구   38478   10        3
3    성동구   47530   14        5
4    광진구   53737   11        2
5   동대문구   64255    6        2
6    중랑구   74790    8       11
7    성북구   77293    9       11
8    강북구   66170    3       11
9    도봉구   66942    3        0
10   노원구   91946   13        3
11   은평구   89422   13       10
12  서대문구   55502    5        8
13   마포구   55533   16       11
14   양천구   72235    5       10
15   강서구   96880    9       14
16   구로구   74491    7        6
17   금천구   42226    1        7
18  영등포구   63349   11        5
19   동작구   67872   12        9
20   관악구   81848    4        6
21   서초구   62228   12        5
22   강남구   81564   21       11
23   송파구  103361   28        1
24   강동구   78191   14        4