In [1]:
import pandas as pd

In [2]:
population = pd.read_csv('고령자현황.csv')
population.head()

,동별(1),동별(2),2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6,2022.7,2022.8
0,동별(1),동별(2),65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구,65세이상 인구
1,동별(1),동별(2),소계,남자,여자,내국인,내국인,내국인,외국인,외국인,외국인
2,동별(1),동별(2),소계,소계,소계,소계,남자,여자,소계,남자,여자
3,합계,소계,1667411,739300,928111,1658207,734417,923790,9204,4883,4321
4,합계,종로구,27958,12592,15366,27704,12448,15256,254,144,110

In [3]:
population.drop([0,1,2,3], axis=0, inplace=True)

In [4]:
population = population[['동별(2)','2022.3']]
population.rename(columns={'동별(2)':'자치구','2022.3':'노인인구수'}, inplace=True)
population.head()

   자치구  노인인구수
4  종로구  27704
5   중구  24660
6  용산구  38478
7  성동구  47530
8  광진구  53737

In [5]:
subway = pd.read_csv('서울교통공사_자치구별지하철역정보_20230531.CSV', encoding='cp949')
subway.drop(['해당역(호선)'], axis=1, inplace=True)
subway.head()

   자치구  역개수
0  강남구   21
1  강동구   14
2  강북구    3
3  강서구    9
4  관악구    4

In [6]:
free = pd.read_csv('전국무료급식소표준데이터.csv', encoding= 'cp949')
free = pd.DataFrame(free['제공기관명'])
free=free.loc[free['제공기관명'].str.contains("서울"),:]
free = pd.DataFrame([['강서구',14],['성북구',11],['중랑구',11],['강북구',11],['마포구',11],['강남구',11],['은평구',10],['양천구',10],
                     ['동작구',9],['서대문구',8],['금천구',7],['구로구',6],['관악구',6],['종로구',5],['영등포구',5],['서초구',5],
                     ['성동구',5],['강동구',4],['노원구',3],['용산구',3],['광진구',2],['동대문구',2],['중구',2],['송파구',1],['도봉구',0
                     ]])
free=free.rename(columns={0:'자치구',1:'무료급식소개수'})
free.head()

   자치구  무료급식소개수
0  강서구       14
1  성북구       11
2  중랑구       11
3  강북구       11
4  마포구       11

In [51]:
income = pd.read_csv('서울시_소득정보.csv')
income = income[income['adstrd_nm'].str.contains("서울특별시")]
income = income.loc[:,['adstrd_nm','ave_income_amt']]
income = income.rename(columns={'adstrd_nm':'자치구','ave_income_amt':'평균소득'})
income.reset_index(drop=True, inplace=True)

In [78]:
jcg = pd.DataFrame([['강서구',0],['성북구',0],['중랑구',0],['강북구',0],['마포구',0],['강남구',0],['은평구',0],['양천구',0],
                     ['동작구',0],['서대문구',0],['금천구',0],['구로구',0],['관악구',0],['종로구',0],['영등포구',0],['서초구',0],
                     ['성동구',0],['강동구',0],['노원구',0],['용산구',0],['광진구',0],['동대문구',0],['중구',0],['송파구',0],['도봉구',0
                     ]])
jcg=jcg.rename(columns={0:'자치구',1:'평균소득'})

In [79]:
for i in range(len(income)):
    if '강서구' in income.loc[i,'자치구']:
        jcg.loc[0,'평균소득'] += income.loc[i,'평균소득']
    elif '성북구' in income.loc[i,'자치구']:
        jcg.loc[1,'평균소득'] += income.loc[i,'평균소득']
    elif '중랑구' in income.loc[i,'자치구']:
        jcg.loc[2,'평균소득'] += income.loc[i,'평균소득']
    elif '강북구' in income.loc[i,'자치구']:
        jcg.loc[3,'평균소득'] += income.loc[i,'평균소득']
    elif '마포구' in income.loc[i,'자치구']:
        jcg.loc[4,'평균소득'] += income.loc[i,'평균소득']
    elif '강남구' in income.loc[i,'자치구']:
        jcg.loc[5,'평균소득'] += income.loc[i,'평균소득']
    elif '은평구' in income.loc[i,'자치구']:
        jcg.loc[6,'평균소득'] += income.loc[i,'평균소득']
    elif '양천구' in income.loc[i,'자치구']:
        jcg.loc[7,'평균소득'] += income.loc[i,'평균소득']
    elif '동작구' in income.loc[i,'자치구']:
        jcg.loc[8,'평균소득'] += income.loc[i,'평균소득']
    elif '서대문구' in income.loc[i,'자치구']:
        jcg.loc[9,'평균소득'] += income.loc[i,'평균소득']
    elif '금천구' in income.loc[i,'자치구']:
        jcg.loc[10,'평균소득'] += income.loc[i,'평균소득']
    elif '구로구' in income.loc[i,'자치구']:
        jcg.loc[11,'평균소득'] += income.loc[i,'평균소득']
    elif '관악구' in income.loc[i,'자치구']:
        jcg.loc[12,'평균소득'] += income.loc[i,'평균소득']
    elif '종로구' in income.loc[i,'자치구']:
        jcg.loc[13,'평균소득'] += income.loc[i,'평균소득']
    elif '영등포구' in income.loc[i,'자치구']:
        jcg.loc[14,'평균소득'] += income.loc[i,'평균소득']
    elif '서초구' in income.loc[i,'자치구']:
        jcg.loc[15,'평균소득'] += income.loc[i,'평균소득']
    elif '성동구' in income.loc[i,'자치구']:
        jcg.loc[16,'평균소득'] += income.loc[i,'평균소득']
    elif '강동구' in income.loc[i,'자치구']:
        jcg.loc[17,'평균소득'] += income.loc[i,'평균소득']
    elif '노원구' in income.loc[i,'자치구']:
        jcg.loc[18,'평균소득'] += income.loc[i,'평균소득']
    elif '용산구' in income.loc[i,'자치구']:
        jcg.loc[19,'평균소득'] += income.loc[i,'평균소득']
    elif '광진구' in income.loc[i,'자치구']:
        jcg.loc[20,'평균소득'] += income.loc[i,'평균소득']
    elif '동대문구' in income.loc[i,'자치구']:
        jcg.loc[21,'평균소득'] += income.loc[i,'평균소득']
    elif '중구' in income.loc[i,'자치구']:
        jcg.loc[22,'평균소득'] += income.loc[i,'평균소득']
    elif '송파구' in income.loc[i,'자치구']:
        jcg.loc[23,'평균소득'] += income.loc[i,'평균소득']
    elif '도봉구' in income.loc[i,'자치구']:
        jcg.loc[24,'평균소득'] += income.loc[i,'평균소득']

C:\Users\hi\AppData\Local\Temp\ipykernel_10920\610921274.py:29: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '9049.02' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  jcg.loc[13,'평균소득'] += income.loc[i,'평균소득']

In [80]:
jcg = jcg.sort_values('평균소득',ascending=False)
jcg.reset_index(drop=True,inplace=True)
jcg

     자치구       평균소득
0     중구  514885.03
1    종로구  511560.78
2    강남구  381329.56
3    서초구  241373.27
4    마포구  221496.77
5    용산구  205362.88
6    송파구  204761.09
7    성북구  201460.52
8   영등포구  183920.64
9    강서구  165836.25
10   강동구  115077.66
11  서대문구  113342.16
12   성동구  108831.40
13   관악구  106253.56
14   동작구   96179.79
15   광진구   84653.23
16   양천구   81703.18
17   노원구   72355.74
18   구로구   71923.18
19   은평구   68081.73
20   중랑구   61681.28
21  동대문구   56262.18
22   도봉구   52194.37
23   강북구   50225.22
24   금천구   42087.28

In [81]:
jcg.iloc[0,1] = jcg.iloc[0,1] / 86
jcg.iloc[1,1] = jcg.iloc[1,1] / 93
jcg.iloc[2,1] = jcg.iloc[2,1] / 31
jcg.iloc[3,1] = jcg.iloc[3,1] / 23
jcg.iloc[4,1] = jcg.iloc[4,1] / 41
jcg.iloc[5,1] = jcg.iloc[5,1] / 37
jcg.iloc[6,1] = jcg.iloc[6,1] / 28
jcg.iloc[7,1] = jcg.iloc[7,1] / 51
jcg.iloc[8,1] = jcg.iloc[8,1] / 43
jcg.iloc[9,1] = jcg.iloc[9,1] / 33
jcg.iloc[10,1] = jcg.iloc[10,1] / 19
jcg.iloc[11,1] = jcg.iloc[11,1] / 26
jcg.iloc[12,1] = jcg.iloc[12,1] / 23
jcg.iloc[13,1] = jcg.iloc[13,1] / 21
jcg.iloc[14,1] = jcg.iloc[14,1] / 18
jcg.iloc[15,1] = jcg.iloc[15,1] / 15
jcg.iloc[16,1] = jcg.iloc[16,1] / 18
jcg.iloc[17,1] = jcg.iloc[17,1] / 19
jcg.iloc[18,1] = jcg.iloc[18,1] / 18
jcg.iloc[19,1] = jcg.iloc[19,1] / 16
jcg.iloc[20,1] = jcg.iloc[20,1] / 16
jcg.iloc[21,1] = jcg.iloc[21,1] / 15
jcg.iloc[22,1] = jcg.iloc[22,1] / 14
jcg.iloc[23,1] = jcg.iloc[23,1] / 14
jcg.iloc[24,1] = jcg.iloc[24,1] / 10

In [82]:
jcg = jcg.sort_values('평균소득',ascending=False)
jcg.reset_index(drop=True,inplace=True)
jcg

     자치구          평균소득
0    강남구  12300.953548
1    서초구  10494.490000
2    송파구   7312.896071
3    강동구   6056.718947
4     중구   5987.035233
5    광진구   5643.548667
6    용산구   5550.348108
7    종로구   5500.653548
8    마포구   5402.360244
9    동작구   5343.321667
10   관악구   5059.693333
11   강서구   5025.340909
12   성동구   4731.800000
13   양천구   4539.065556
14  서대문구   4359.313846
15  영등포구   4277.224186
16   은평구   4255.108125
17   금천구   4208.728000
18   구로구   3995.732222
19   성북구   3950.206275
20   중랑구   3855.080000
21   노원구   3808.196842
22  동대문구   3750.812000
23   도봉구   3728.169286
24   강북구   3587.515714

In [83]:
jcg_midx = jcg.drop(12,axis=0)
jcg_midx = jcg.drop('자치구',axis=1)
jcg_midx_jal = jcg_midx[0:7]
jcg_midx_mid = jcg_midx[8:16]
jcg_midx_mot = jcg_midx[17:24]

In [84]:
from scipy import stats
F_statistic, pVal = stats.f_oneway(jcg_midx_jal, jcg_midx_mid, jcg_midx_mot)
print("F통계량: ",F_statistic,"유의확률:", pVal)
#print('데이터의 일원분산분석 결과 : F={0:.1f}, p={1:.10f}'.format(F_statistic, pVal))
#print('데이터의 일원분산분석 결과 : F=%.2f , p=%.10f ' %(F_statistic, pVal))

F통계량:  [11.12787458] 유의확률: [0.00063249]

In [171]:
sowe1 = pd.read_csv('서울시 사회복지시설(노인주거복지시설) 목록.csv', encoding= 'cp949')
sowe2 = pd.read_csv('서울시 사회복지시설(재가노인복지시설) 목록.csv', encoding= 'cp949')
sowe1 = pd.DataFrame(sowe1.loc[:,'시군구명'])
sowe2 = pd.DataFrame(sowe2.loc[:,'시군구명'])
idx = sowe1[sowe1['시군구명'] == "서울특별시"].index
sowe1.drop(idx , inplace=True)
idx = sowe2[sowe2['시군구명'] == "서울특별시"].index
sowe2.drop(idx , inplace=True)
sowe1.reset_index(drop=True, inplace=True)
sowe2.reset_index(drop=True, inplace=True)

In [118]:
sowe1.value_counts()

시군구명
강서구     3
강남구     2
광진구     2
금천구     2
노원구     2
도봉구     2
은평구     2
중구      2
강동구     1
마포구     1
성북구     1
양천구     1
영등포구    1
용산구     1
종로구     1
Name: count, dtype: int64

In [172]:
sowe_list = pd.DataFrame([['강서구',0],['성북구',0],['중랑구',0],['강북구',0],['마포구',0],['강남구',0],['은평구',0],['양천구',0],
                     ['동작구',0],['서대문구',0],['금천구',0],['구로구',0],['관악구',0],['종로구',0],['영등포구',0],['서초구',0],
                     ['성동구',0],['강동구',0],['노원구',0],['용산구',0],['광진구',0],['동대문구',0],['중구',0],['송파구',0],['도봉구',0
                     ]])
sowe_list=sowe_list.rename(columns={0:'자치구',1:'시설개수'})

In [173]:
for i in range(len(sowe1)):
    if (sowe1.loc[i,'시군구명'] == '강서구'):
        sowe_list.loc[0,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '성북구'):
        sowe_list.loc[1,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '중랑구'):
        sowe_list.loc[2,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '강북구'):
        sowe_list.loc[3,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '마포구'):
        sowe_list.loc[4,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '강남구'):
        sowe_list.loc[5,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '은평구'):
        sowe_list.loc[6,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '양천구'):
        sowe_list.loc[7,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '동작구'):
        sowe_list.loc[8,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '서대문구'):
        sowe_list.loc[9,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '금천구'):
        sowe_list.loc[10,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '구로구'):
        sowe_list.loc[11,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '관악구'):
        sowe_list.loc[12,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '종로구'):
        sowe_list.loc[13,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '영등포구'):
        sowe_list.loc[14,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '서초구'):
        sowe_list.loc[15,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '성동구'):
        sowe_list.loc[16,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '강동구'):
        sowe_list.loc[17,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '노원구'):
        sowe_list.loc[18,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '용산구'):
        sowe_list.loc[19,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '광진구'):
        sowe_list.loc[20,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '동대문구'):
        sowe_list.loc[21,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '중구'):
        sowe_list.loc[22,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '송파구'):
        sowe_list.loc[23,'시설개수'] += 1
    elif (sowe1.loc[i,'시군구명'] == '도봉구'):
        sowe_list.loc[24,'시설개수'] += 1

In [175]:
for i in range(len(sowe2)):
    if (sowe2.loc[i,'시군구명'] == '강서구'):
        sowe_list.loc[0,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '성북구'):
        sowe_list.loc[1,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '중랑구'):
        sowe_list.loc[2,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '강북구'):
        sowe_list.loc[3,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '마포구'):
        sowe_list.loc[4,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '강남구'):
        sowe_list.loc[5,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '은평구'):
        sowe_list.loc[6,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '양천구'):
        sowe_list.loc[7,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '동작구'):
        sowe_list.loc[8,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '서대문구'):
        sowe_list.loc[9,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '금천구'):
        sowe_list.loc[10,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '구로구'):
        sowe_list.loc[11,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '관악구'):
        sowe_list.loc[12,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '종로구'):
        sowe_list.loc[13,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '영등포구'):
        sowe_list.loc[14,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '서초구'):
        sowe_list.loc[15,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '성동구'):
        sowe_list.loc[16,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '강동구'):
        sowe_list.loc[17,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '노원구'):
        sowe_list.loc[18,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '용산구'):
        sowe_list.loc[19,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '광진구'):
        sowe_list.loc[20,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '동대문구'):
        sowe_list.loc[21,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '중구'):
        sowe_list.loc[22,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '송파구'):
        sowe_list.loc[23,'시설개수'] += 1
    elif (sowe2.loc[i,'시군구명'] == '도봉구'):
        sowe_list.loc[24,'시설개수'] += 1

In [176]:
sowe_list

     자치구  시설개수
0    강서구    40
1    성북구    28
2    중랑구    48
3    강북구    35
4    마포구    29
5    강남구    24
6    은평구    41
7    양천구    35
8    동작구    29
9   서대문구    23
10   금천구    18
11   구로구    25
12   관악구    29
13   종로구     8
14  영등포구    22
15   서초구    12
16   성동구    19
17   강동구    31
18   노원구    46
19   용산구     7
20   광진구    22
21  동대문구    35
22    중구    11
23   송파구    41
24   도봉구    29

In [188]:
data=pd.merge(population,subway, on="자치구")
data=pd.merge(data,free, on="자치구")
data=pd.merge(data,sowe_list, on="자치구")
data

     자치구   노인인구수  역개수  무료급식소개수  시설개수
0    종로구   27704   15        5     8
1     중구   24660   23        2    11
2    용산구   38478   10        3     7
3    성동구   47530   14        5    19
4    광진구   53737   11        2    22
5   동대문구   64255    6        2    35
6    중랑구   74790    8       11    48
7    성북구   77293    9       11    28
8    강북구   66170    3       11    35
9    도봉구   66942    3        0    29
10   노원구   91946   13        3    46
11   은평구   89422   13       10    41
12  서대문구   55502    5        8    23
13   마포구   55533   16       11    29
14   양천구   72235    5       10    35
15   강서구   96880    9       14    40
16   구로구   74491    7        6    25
17   금천구   42226    1        7    18
18  영등포구   63349   11        5    22
19   동작구   67872   12        9    29
20   관악구   81848    4        6    29
21   서초구   62228   12        5    12
22   강남구   81564   21       11    24
23   송파구  103361   28        1    41
24   강동구   78191   14        4    31

In [189]:
data.to_csv('final_clusters.csv')